PORT=3001
MONGODB_USER=<your-user>
MONGODB_PASSWORD=<your-password>
MONGODB_URL=<your-cluster-url>
MONGODB_DB=<your-database-name>
JWT_SECRET=<my-very-secret-key>
JWT_REFRESH_SECRET=<my-refresh-secret-key>

SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=587
SMTP_USER=866d12001@smtp-brevo.com
SMTP_PASSWORD=<your_Brevo_key>
SMTP_FROM=alchimeraa@gmail.com
# JWT_SECRET=<my-very-secret-key>
APP_DOMAIN=http://localhost:3001/auth

CLOUD_NAME=Olliv
CLOUD_API_KEY=<my-secret-key>
CLOUD_API_SECRET=<my-very-secret-key>