PORT=3001
MONGODB_USER=<your-user>
MONGODB_PASSWORD=<your-password>
MONGODB_URL=<your-cluster-url>
MONGODB_DB=<your-database-name>
JWT_SECRET=<my-very-secret-key>
JWT_REFRESH_SECRET=<my-refresh-secret-key>

SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=587
SMTP_USER=<your_email_z_Brevo>
SMTP_PASSWORD=<your_Brevo_key>
SMTP_FROM=<your_email_na_Brevo>
JWT_SECRET=<my-very-secret-key>
APP_DOMAIN=http://localhost:3001/auth

CLOUD_NAME=<your-user>
CLOUD_API_KEY=<my-secret-key>
CLOUD_API_SECRET=<my-very-secret-key>