PORT=3001
MONGODB_USER=<your-user>
MONGODB_PASSWORD=<your-password>
MONGODB_URL=<your-cluster-url>
MONGODB_DB=<your-database-name>
JWT_SECRET=<my_very_secret_key>
JWT_REFRESH_SECRET=<my_refresh_secret_key>